# Openfort Configuration
# Get these values from https://dashboard.openfort.io
VITE_OPENFORT_PUBLISHABLE_KEY=
VITE_SHIELD_PUBLISHABLE_KEY=

# If you want to use AUTOMATIC embedded wallet recovery, an encryption session is required.
# See: https://www.openfort.io/docs/products/embedded-wallet/react-native/quickstart/automatic
# For backend setup, check: https://github.com/openfort-xyz/openfort-backend-quickstart
VITE_CREATE_ENCRYPTED_SESSION_ENDPOINT=http://localhost:3000/api/protected-create-encryption-session
VITE_REQUEST_WALLET_RECOVER_OTP_ENDPOINT=http://localhost:3000/api/protected-request-otp
VITE_CREATE_ENCRYPTED_SESSION_SKIP_OTP_ENDPOINT=http://localhost:3000/api/protected-create-encryption-session-skip-otp

VITE_BEAM_POLICY_ID=
VITE_POLYGON_POLICY_ID=